h1 {
    font-family: 'Jogan Round', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 45px;
}

h2 {
    font-family: 'Jogan Soft', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: 35px;
}

h3 {
    font-family: 'Jogan Round', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

h4 {
    font-family: 'Pulp Display', sans-serif;
    font-weight: normal;
}

p {
    font-family: 'Pulp Display', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

.plist {
    font-family: 'Pulp Display', sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 18px;
}


body {
    background-color: #121212;
    color: white;
    margin: 0; /* Remove default body margin */
}

main {
    padding: 20px;
}



.article {
    background-color: white;
    color: #121212;
    width: 100%; /* Set width to 100% to fill the entire width of the viewport */
    box-sizing: border-box; /* Include padding in the total width/height */
    margin: 0;
}

.featured {
    background-color: white;
    color: #121212;
    width: 100%; /* Set width to 100% to fill the entire width of the viewport */
    padding: 20px; /* Add padding for better spacing */
    box-sizing: border-box; /* Include padding in the total width/height */
}

.homelink {
    font-family: 'Jogan Round', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 165%;
    color: black;
}

.home-header {
    font-family: 'Jogan Mono', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
}

.casestudyheader {
    background-color: black;
    color: white;
    width: 100%; /* Set width to 100% to fill the entire width of the viewport */ 
    height: auto;
    box-sizing: border-box; /* Include padding in the total width/height */
}

.cshformat {
    padding-left: 5%;
}

.cshformat h4 {
    font-family: 'Jogan Soft', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: 18px;
}

.cshformat hr {
    box-sizing: border-box;
}



.linkheader {
    background-color: black;
    color: white;
    width: 100%; /* Set width to 100% to fill the entire width of the viewport */ 
    height: 150px;
    box-sizing: border-box; /* Include padding in the total width/height */
}

