h1 {
    font-family: 'Jogan Round', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 45px;
}

h2 {
    font-family: 'Jogan Soft', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: 35px;
}

h3 {
    font-family: 'Jogan Round', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

h4 {
    font-family: 'Pulp Display', sans-serif;
    font-weight: normal;
}

p {
    font-family: 'Pulp Display', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

.plist {
    font-family: 'Pulp Display', sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 18px;
}


body {
    background-color: #121212;
    color: white;
    margin: 0; /* Remove default body margin */
}

main {
    padding: 20px;
}



.article {
    background-color: white;
    color: #121212;
    width: 100%; /* Set width to 100% to fill the entire width of the viewport */
    box-sizing: border-box; /* Include padding in the total width/height */
    margin: 0;
}

.featured {
    background-color: white;
    color: #121212;
    width: 100%; /* Set width to 100% to fill the entire width of the viewport */
    padding: 20px; /* Add padding for better spacing */
    box-sizing: border-box; /* Include padding in the total width/height */
}

.featured h3 {
    font-family: 'Jogan Round', sans-serif;
    font-weight: normal;
    font-style: bold;
    font-size: 40px;
    margin: 0;
}

.featured p {
    font-family: 'Pulp Display', sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}

.featured img {
    width: auto;
    height: 200px;
    max-width: 100%;
    object-fit: cover;
}

.homelink {
    font-family: 'Jogan Round', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 165%;
    color: black;
}

.home-header {
    font-family: 'Jogan Mono', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
}

.casestudyheader {
    background-color: black;
    color: white;
    width: 100%;
    box-sizing: border-box; /* Include padding in the total width/height */
}

.casestudyheader img {
    width: 100%;
    height: 360px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}


.cshformat {
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.cshformat h4 {
    font-family: 'Jogan Soft', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: 18px;
}

.cshformat hr {
    width: 100%; /* Adjust the width of the hr as needed */
    margin: 0 auto; /* Center the hr horizontally */
    border-color: white; /* Set the border color to match the text color */
}

.linkheader {
    background-color: black;
    color: white;
    width: 100%; /* Set width to 100% to fill the entire width of the viewport */ 
    height: auto;
    box-sizing: border-box; /* Include padding in the total width/height */
    font-size: 40px;
}

.imgformat {
    max-width: 100%;
    max-height: 100vh; /* Ensure the image doesn't exceed the viewport height */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.posterformat {
    max-width: 90vw; /* Adjust the percentage as needed */
    max-height: 90vh; /* Adjust the percentage as needed */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.posterformat img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

iframe {
    display: block;
    width: 100%;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

.footer {
    background-color: black;
    color: white;
    width: 100%; /* Set width to 100% to fill the entire width of the viewport */ 
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}